<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs List</title>
</head>
<body>
<a href="{{ url_for('admin') }}">Back to admin console</a>
<ul class=jobs>
        {% for job in jobs %}
            <li><h2>{{ job.job_title}}</h2>
                <ul>
                    <li>Total Payment: {{ job.total_payment|safe }}</li>
                    <li>Job Location: {{ job.location|safe }}</li>
                    <li>Hospital Name: {{ job.hospital|safe }}</li>
                </ul>
        {% else %}
            <li><em>Unbelievable. No jobs here so far</em>
        {% endfor %}
    </ul>
</body>
</html>